$background: #EEDBC4;
$font-primary: "Gotham Pro", sans-serif;
$font-nav: "Dank Mono", san-serif;
$ribbon: #DAABC2;
$icon-title : "Avenir Next", san-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: $background; }
nav {
    display: flex;
    padding: 11px  17px;
    .logo {
        font-family: $icon-title; 
        flex:  1;
    justify-content: center;
    align-items: center;
}
    ul {
       list-style: none; } 
}
@media (min-width: 320px )
{
.menu-btn {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid black;
}
.menu-btn__burger {
    width: 25px;
    height: 3.5px;
    background:black;
    border-radius: 5px;
    box-shadow: 0 2px 5pxw rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position:absolute;
    width: 25px;
    height: 3.5px;
    background:black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-8px);
}
.menu-btn__burger::after {
    transform: translateY(8px);
}
.header-img {
    padding:2rem 1rem 2rem 0rem;
    img {
        max-width:100%;
        max-height: 100%;
    }
}
.head-title {
    padding: 11px  17px;
    h1 {
        font-family: "Gotham Pro", sans-serif;
        font-weight: lighter;
        color:#464646;
        font-size: 35px;
    }
}
.head-p {
    padding: 11px 17px;
    font-family: "Gilroy", sans-serif;
}
}